<html>
    <head>
        <title>Ashiks Carapps API</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django REST API bulit for my android app Carapp </a></h1>
			<a href="https://github.com/ashik619/Carapp">Carapp android app Github Link</a>
			<a href="https://github.com/ashik619/myapp">Djang app Github Link</a>
        </div>

        <div>
			<h2><a href="">API Usage</a></h2>
            <p>api format : JSON</p>
            <p>To get all car brands : <a href="http://ashik619.pythonanywhere.com/rest/brands/?format=json">http://ashik619.pythonanywhere.com/rest/brands/?format=json</a></p>
			<p>To get all models of particular brand eg Maruti : <a href="http://ashik619.pythonanywhere.com/rest/models/?brandname=maruti&format=json">http://ashik619.pythonanywhere.com/rest/models/?brandname=maruti&format=json</a></p>
			<p>To get specs and review of a paticular model eg baleno : <a href="http://ashik619.pythonanywhere.com/rest/cardetails/?carname=baleno&format=json">http://ashik619.pythonanywhere.com/rest/cardetails/?carname=baleno&format=json</a></p>
        </div>
    </body>
</html>